<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width , initial-scale=1.0">
        <title>Landing Page</title>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <section id="banner">
            <img src="logo.png" class="logo">
            <div class="banner-text">
                <h1>QuizNovas</h1>
                <p>Quizzing is a fun and engaging way to test your knowledge and learn new things!</p>
                <div class="banner-btn">
                    <a href="signup.html"><span></span>Register Now!</a>
                    <a href="login.html"><span></span>Sign-In</a>
                </div>
            </div>
        </section>
    </body>
</html>